@charset "utf-8";

.compla_container {
    background-image: url(images/back_compla.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fdfdfd;
}

.conp_title {
    font-size: 41px;
    padding: 400px 0 240px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.conpliance_title,
.conpliance_text,
.conpliance_text_plus {
    color: #525151;
}
/* 
.conpliance_title::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #c09f5d;
    margin-right: 26px;
    width: calc(100vw * 0.12);
    position: absolute;
    left: 0;
} */

/* .comp_title_wrap {
    display: flex;
    align-items: center;
}

.title_border {
    border-bottom: 1px solid #c09f5d;
    width: 16.5%;
    position: absolute;
    left: 0;
} */

.conpliance_title {
    font-size: 18px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
}

.conpliance_text {
    font-size: 15px;
    line-height: 1.8;
}

.conpliance_wrap {
    max-width: 1000px;
    padding: 200px 30px 400px;
    margin: 0 auto;
}

.conpliance_item {
    padding-bottom: 18px;
}

.conpliance_text_plus {
    padding: 15px 0 15px;
}

.legal_title {
    font-size: 14px;
    padding-bottom: 7px;
    color: #525151;
    display: flex;
    align-items: center;
}

.legal_title::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #c09f5d;
    margin-left: 26px;
    width: 165px;
}

.legal_shop {
    font-weight: bold;
    color: #525151;
}

.legal_text {
    font-size: 18px;
    color: #525151;
}

@media screen and (max-width: 767px) {
    .header_top {
        display: none;
    }

    .header_nav {
        opacity: 0;
        pointer-events: none;
    }

    .compla_container {
        background-image: url(images/back_compla_sp.png);
    }

    .conp_title {
        font-size: 25px;
        padding: 142px 0 104px;
    }

    .conpliance_title {
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .conpliance_title::after {
        content: "";
        display: block;
        height: 1px;
        flex-grow: 1;
        background-color: #c09f5d;
        margin-left: 26px;
    }

    .conpliance_title {
        font-size: 11px;
    }

    .conpliance_text {
        font-size: 11px;
    }

    .conpliance_wrap {
        padding: 200px 20px 150px;
    }

    .conpliance_item {
        padding-bottom: 15px;
    }

    .conpliance_text_plus {
        padding: 15px 0 15px;
        font-size: 11px;
    }

    .legal_title,
    .legal_text {
        font-size: 11px;
    }

    .legal_title::after {
        width: 133px;
    }
}
