@charset "utf-8";

.compla_container {
    background-image: url(images/back_compla.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fdfdfd;
}

.qa_bottom {
    background-color: #fdfdfd;
}

.accordion {
    margin: 200px auto;
    max-width: 1000px;
    position: relative;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.qa_title {
    display: flex;
    color: #707070;
    cursor: pointer;
    font-size: 18px;
}
.qa_title p {
    color: #707070;
    font-size: 18px;
    line-height: 1.2;
}

.q {
    padding: 35px 0px;
}

.q_mark {
    padding: 35px 25px 35px 64px;
    font-family: "American Typewriter", Century, serif, YuMincho, "游明朝",
        "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3",
        "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝";
}

.qa_content {
    display: none;
    padding: 61px 0px 70px 100px;
}
.qa_content p {
    color: #707070;
    font-size: 18px;
    line-height: 1.2;
}
/* コンテンツボックスの枠線 */
.qa_item {
    border-top: 1px solid #c09f5c;
}
.qa_item:last-child {
    border-bottom: 1px solid #c09f5c;
}
/* 矢印 */
.qa_title {
    position: relative;
}
.qa_title::after {
    border-right: solid 1px #c09f5d;
    border-top: solid 1px #c09f5d;
    content: "";
    display: block;
    height: 11px;
    position: absolute;
    right: 48px;
    top: 38%;
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    width: 11px;
}
.qa_title.open::after {
    top: 45%;
    transform: rotate(-45deg);
    border-right: solid 1px #fdfdfd;
    border-top: solid 1px #fdfdfd;
}
.qa_title.open {
    background-color: #c09f5c;
}

.qa_title.open p {
    color: #fdfdfd;
}

@media screen and (max-width: 767px) {
    .header_top {
        display: none;
    }

    .header_nav {
        opacity: 0;
        pointer-events: none;
    }

    .compla_container {
        background-image: url(images/back_compla_sp.png);
    }

    .faq_accesary {
        padding-bottom: 180px;
    }

    .accordion {
        padding: 20px 46px 80px 30px;
        margin: 0;
    }
    .qa_title {
        font-size: 13px;
    }
    .qa_title p {
        font-size: 13px;
    }

    .q {
        padding: 19px 0px;
    }

    .q_mark {
        padding: 19px 8px 0px 34px;
    }

    .qa_content {
        padding: 44px 0px 35px 32px;
    }
    .qa_content p {
        font-size: 13px;
    }
    .qa_title::after {
        height: 6px;
        right: 24px;
        width: 6px;
    }
}
