@charset "utf-8";

.popup_wrap {
    width: 100%;
    height: 100%;
    background: rgba(232, 232, 232, 0.45);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: 0.4s ease;
}

.popup_wrap.ok {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.popup_close {
    width: 20px;
    height: 24px;
    position: absolute;
    top: 23px;
    right: 16px;
    cursor: pointer;
}

.popup_close::before,
.popup_close::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #c09f5d;
}
.popup_close::before {
    transform: rotate(45deg);
}
.popup_close::after {
    transform: rotate(-45deg);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    max-width: 900px;
    background-color: #eadecc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup_money {
    width: 221px;
    height: 221px;
    background-color: #fdfdfd;
    border-radius: 50%;
    margin-right: 20px;
    transform: rotate(-10deg);
}

.popup_money_text {
    padding-top: 70px;
    text-align: center;
    font-size: 24px;
}

.popup_dots {
    background-image: radial-gradient(
        circle at center,
        #801b30 20%,
        transparent 20%
    ); /* 点の色とサイズ調整 */
    background-repeat: repeat-x; /* 横方向に繰り返し */
    background-size: 1em 0.3em; /* 点の間隔とサイズ調整 */
    padding-top: 0.4em; /* 縦方向の位置調整 */
    letter-spacing: 0;
}

.popup_yen {
    font-size: 52px;
    color: #801b30;
}

.popup_mark {
    font-size: 25px;
}

.popup_by {
    font-size: 19px;
}

.popup_ideas {
    padding: 30px;
}

.popup_idea p {
    font-size: 16px;
    border: 1px dashed #c09f5d;
    margin: 5px 25px;
    width: 255px;
    height: 40px;
    border-radius: 20px 20px;
    text-align: center;
    line-height: 16px;
    padding: 13px 9px;
    box-sizing: border-box;
}

.popup_text,
.popup_text_big,
.popup_idea p {
    color: #525151;
}

.popup_text_big {
    font-size: 52px;
    font-weight: bold;
}

.popup_text {
    font-size: 25px;
    margin: 31px 0 25px;
}

.popup_ribon {
    width: 38px;
    padding: 0 13px;
}

.try_btn {
    width: 326px;
    height: 47px;
    margin: 0 auto;
}

.main_visual {
    background: #f7f3ec;
    width: 100vw;
    position: relative;
}

.main_visual.active {
    background-color: #fdfdfd;
}

.main_img {
    width: 81vw;
    z-index: 500;
}

.main_title {
    writing-mode: vertical-rl;
    font-size: 22px;
    position: absolute;
    top: 20%;
    left: 17%;
    z-index: 900;
}

.main_text {
    writing-mode: vertical-rl;
    font-size: 16px;
    position: absolute;
    top: 11.5%;
    left: 13%;
    letter-spacing: 0.4em;
    z-index: 900;
}

.fly_btn {
    position: absolute;
    top: 74%;
    background-color: #fdfdfd;
    border-radius: 0 75px 75px 0;
    border: none;
    letter-spacing: 0.2em;
    z-index: 800;
    padding: 15px 60px 15px 24px;
}

.dragon {
    font-size: 13px;
    color: #707070;
    padding-right: 10px;
    z-index: 900;
}

.toyoda {
    font-size: 28px;
    color: #c09f5c;
    z-index: 900;
}

.lesson {
    font-size: 24px;
    color: #707070;
    z-index: 900;
}

.no {
    font-size: 19px;
    color: #707070;
    z-index: 900;
}

.start {
    font-size: 18px;
    color: #707070;
    z-index: 900;
}

.fly_line::before {
    animation: none;
}

.fly_line::after {
    animation: none;
}

.scrolldown1 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    right: 21%;
    top: 86%;
    /*全体の高さ*/
    height: 50px;
    z-index: 900;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
    /*描画位置*/
    position: absolute;
    left: -8px;
    top: -55px;
    /*テキストの形状*/
    color: #c09f5c;
    letter-spacing: 0.05em;
    writing-mode: vertical-rl;
}

/* 線の描写 */
.scrolldown1::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    /*線の形状*/
    width: 1px;
    height: 30px;
    background: #c09f5c;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 1.6s ease-in-out infinite;
    opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }
    30% {
        height: 60px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 123px;
        opacity: 0;
    }
}

.shop_nav {
    position: absolute;
    top: 16%;
    right: 7%;
}

.shop_nav li {
    padding: 30% 0;
}

.shop_nav li a {
    color: #707070;
}

.taiken_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #c09f5c;
    font-size: 16px;
    padding: 20px 54px;
    border-radius: 20px 0 0 0;
    color: #c09f5c;
}

.taiken_btn.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    height: 36px;
}

.taiken_line::before {
    width: 164px;
    left: -32px;
    animation: none;
}

.taiken_line::after {
    animation: none;
    right: -33px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.topic_items {
    display: flex;
    justify-content: space-between;
    padding: 360px 20px 216px;
}

.topic {
    width: 43.5%;
}

.topics {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 74px 0 46px;
}

.topics_title {
    width: 95px;
    padding-right: 60px;
}

.topics_aori {
    writing-mode: vertical-rl;
    font-size: 40px;
    margin: 0 auto;
}

.topic_text {
    text-align: justify;
    padding: 8% 0;
    line-height: 2.7;
    font-size: 18px;
}

.topics_img {
    padding: 60px 0 60px;
}

#service {
    background-image: url(images/back_top_service.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title_wrapper {
    padding: 200px 0 100px;
}

.title {
    height: 232px;
    position: relative;
    text-align: center;
}

.title_text {
    font-size: 36px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.service_aori {
    writing-mode: vertical-rl;
    font-size: 43px;
    position: relative;
    z-index: 2;
    left: 73%;
    top: 200px;
    margin-top: -100px;
}

.service_aori::after {
    content: "simulation Golf";
    font-family: "Snell Roundhand", sans-serif;
    position: relative;
    font-size: 69px;
    color: #fdfdfd;
    display: block;
    z-index: -1;
    right: -45px;
    top: 24px;
}

.capture_slide {
    width: 58.6%;
    border-radius: 0 0 30px 0;
}

.capture_texts {
    width: 50%;
    background: #c09f5c;
    border-radius: 30px 0 0 0;
    position: relative;
    top: -150px;
    left: 45%;
}

.capture_text {
    line-height: 3;
    text-align: justify;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
}

.capture_border {
    border-left: #c09f5c 1px solid;
    border-bottom: #c09f5c 1px solid;
    width: 50%;
    height: 201px;
    margin-left: 138px;
}

.more_btn {
    background: #ffffff;
    width: 230px;
    height: 230px;
    border-radius: 165px;
}

.more {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.6;
}

.service_sen {
    padding: 120px 0 37px 47px;
}

.slick-next:before {
    display: none;
}

.slick-prev:before {
    display: none;
}

.slick-arrow {
    width: 24px;
    height: 24px;
    border-top: 1px solid #c09f5c;
    border-right: 1px solid #c09f5c;
    top: 45%;
}

.slick-next {
    transform: rotate(45deg);
    right: -1%;
    top: 24%;
}

.slick-prev {
    transform: rotate(-135deg);
    left: -1%;
    top: 25%;
    z-index: 100;
}

.service_items {
    margin: 15px;
}

.service_slide {
    margin: 30px;
}

.service_border {
    border-bottom: 1px #c09f5c solid;
    width: 195px;
    margin: 0 auto;
}

.service_title {
    font-size: 30px;
    padding: 50px 0 24px;
    text-align: center;
}

.service_text {
    line-height: 2.2;
    padding-top: 33px;
}

.service_padding {
    padding: 157px;
}

.btn {
    background: #c09f5c;
    border-radius: 0 0 30px 0;
    border: none;
}

.reserve_btn {
    width: 658px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.reserve_btn_text {
    font-size: 25px;
}

.passtime_items {
    padding-bottom: 300px;
}

.passtime_item {
    width: 50%;
    border-radius: 100%;
    position: relative;
    margin-bottom: 78px;
}

.passtime_item:nth-child(even) {
    margin-left: 50%;
}

.passtime_item::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.green {
    background-color: #477658;
}

.shop_btn.green:hover {
    background-color: #fdfdfd;
    color: #477658;
    transition: 0.7s;
    opacity: 0.8;
}

.purple {
    background-color: #7f4d72;
}

.shop_btn.purple:hover {
    background-color: #fdfdfd;
    color: #7f4d72;
    transition: 0.7s;
    opacity: 0.8;
}

.blue {
    background-color: #303967;
}

.shop_btn.blue:hover {
    background-color: #fdfdfd;
    color: #303967;
    transition: 0.7s;
    opacity: 0.8;
}

.red {
    background-color: #801b30;
}

.shop_btn.red:hover {
    background-color: #fdfdfd;
    color: #801b30;
    transition: 0.7s;
    opacity: 0.8;
}

.passtime_container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.passtime_title {
    font-size: 28px;
    text-align: center;
    padding-bottom: 28px;
    line-height: 1.9;
}

.passtime_point {
    font-size: 19px;
    text-align: center;
    padding-bottom: 20px;
    line-height: 1.9;
    font-weight: bold;
}

.passtime_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 405px;
}

.passtime_text {
    padding-bottom: 26px;
    line-height: 1.5;
}

.passtime_movies {
    text-align: center;
}

.passtime_movie {
    width: 73%;
}

.passmovie_text {
    font-size: 19px;
    padding: 37px 0 300px;
    text-align: center;
}

#shop {
    background-image: url(images/back_top_shop.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.shop_btn {
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    line-height: 250px;
    font-size: 25px;
    color: #fdfdfd;
    box-sizing: border-box;
}

.shop_slide img {
    opacity: 0.67;
}

.shop_slide_wrapper {
    position: relative;
    max-height: 850px;
    padding-bottom: 33px;
}
.shop_list_color {
    width: 100vw;
    position: absolute;
    bottom: 0px;
}

.shop_btn_wrapper {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .shop_btn_access {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #fdfdfd;
} */

.reserve_halfbtn {
    background-color: #c09f5c;
    width: 250px;
    height: 125px;
    border-radius: 125px 125px 0 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
}

.half_btn {
    font-size: 22px;
}

.contact {
    max-width: 1000px;
    margin: 0 auto;
}

.contact_text {
    font-size: 19px;
    line-height: 1.7;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.question_here {
    font-size: 24px;
    text-decoration: underline;
}

.set {
    display: flex;
    justify-content: space-between;
    padding-bottom: 87px;
    align-items: center;
}

.contact_form {
    padding: 160px 20px 140px 0;
}

.must {
    background-color: #801b30;
    width: 65px;
    height: 30px;
    border-radius: 15px 15px;
    padding: 6px 0 0 12px;
    box-sizing: border-box;
    margin-left: 14.6%;
}

.input,
.textarea,
.select {
    width: 50%;
    height: 61px;
    background-color: #e4e4e4;
    padding: 3px;
    box-sizing: border-box;
    border: none;
}

.tel {
    margin-left: 20.5%;
}

.contact_btn {
    width: 319px;
    height: 88px;
    margin: 0 auto;
    display: block;
    font-size: 22px;
}

.sp_main,
.popup_sp_ribon_top,
.popup_sp_ribon_bottom,
.sp_shop_back {
    display: none;
}

@media screen and (max-width: 1100px) {
    .shop_nav {
        opacity: 0;
        pointer-events: none;
    }

    .sp_hum_nav {
        display: block;
        background-color: #ffffff;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 999;
        top: 0;
        right: -120%;
        transition: all 1.2s;
        max-height: 650px;
        text-align: center;
        padding-bottom: 56px;
    }

    .sp_hum_nav.active {
        right: 0px;
    }

    .sp_hum_nav_items {
        display: flex;
        flex-wrap: wrap;
        max-width: 258px;
        margin: 100px auto 20px;
    }

    .sp_hum_nav_item {
        display: flex;
        align-items: center;
        margin: 9px 3px;
        border: 1px dashed #c69d50;
        border-radius: 25px;
        padding: 14px 15px;
    }

    .sp_hum_nav_item:last-child {
        padding: 14px 10px;
    }

    .sp_hum_nav_item a {
        color: #707070;
    }

    .sp_hum_circle {
        background-color: #c69d50;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        margin-right: 6px;
        position: relative;
    }

    .sp_hum_circle::before {
        content: "";
        left: 10px;
        top: 50%;
        width: 12px;
        height: 1px;
        background: #fdfdfd;
        display: inline-block;
        position: absolute;
        transform: translateX(-50%);
    }
    .sp_hum_circle::after {
        content: "";
        left: 9px;
        top: 37%;
        width: 6px;
        height: 6px;
        border-top: 1px solid #fdfdfd;
        border-right: 1px solid #fdfdfd;
        transform: rotate(45deg);
        position: absolute;
        display: inline-block;
    }

    .sp_hum_shops {
        display: flex;
        margin: 20px auto;
        width: 376px;
    }

    .sp_hum_shop {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        font-size: 13px;
        margin: 5px;
        line-height: 84px;
    }
}

@media screen and (max-width: 767px) {
    .main_img,
    .header_logo,
    .main_text,
    .dragon,
    .scrolldown1,
    .taiken_btn,
    .popup_ribon {
        display: none;
    }
    /* 
    .popup_wrap {
        width: 100%;
        height: 100%;
        background: rgba(232, 232, 232, 0.45);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        transition: 0.4s ease;
    } */

    .popup_close {
        width: 13px;
        height: 15px;
        top: 10px;
        right: 10px;
    }

    .popup {
        max-width: 280px;
        background-color: #eadecc;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popup_sp_ribon_top,
    .popup_sp_ribon_bottom {
        display: block;
        width: 213px;
    }

    .popup_sp_ribon_top {
        padding: 10px 34px 4px;
    }

    .popup_sp_ribon_bottom {
        padding: 4px 34px 10px;
    }

    .popup_money {
        width: 114px;
        height: 114px;
        position: absolute;
        top: 40px;
        right: -18px;
        transform: rotate(16deg);
    }

    .popup_money_text {
        padding-top: 35px;
        text-align: center;
        font-size: 13px;
    }

    .popup_dots {
        background-image: radial-gradient(
            circle at center,
            #801b30 20%,
            transparent 20%
        ); /* 点の色とサイズ調整 */
        background-repeat: repeat-x; /* 横方向に繰り返し */
        background-size: 1em 0.3em; /* 点の間隔とサイズ調整 */
        padding-top: 0.4em; /* 縦方向の位置調整 */
    }

    .popup_yen {
        font-size: 28px;
        color: #801b30;
    }

    .popup_mark {
        font-size: 10px;
    }

    .popup_by {
        font-size: 10px;
    }

    .popup_ideas {
        padding: 7px;
    }

    .popup_idea p {
        font-size: 12px;
        margin: 5px 0 5px -19px;
        padding: 5px 9px;
    }

    .popup_idea p:nth-child(1) {
        width: 139px;
        height: 43px;
        border-radius: 30px 30px;
    }

    .popup_idea p:nth-child(2) {
        display: none;
    }

    .popup_idea p:nth-child(3) {
        width: 146px;
        height: 28px;
        border-radius: 30px, 30px;
    }

    .popup_text_big {
        font-size: 37px;
    }

    .popup_text {
        font-size: 16px;
        margin: 19px 0 9px;
    }

    .try_btn {
        width: 184px;
        height: 32px;
        border-radius: 0 0 18px 0;
        font-size: 10px;
    }

    .info {
        font-size: 13px;
        width: 130px;
        margin: 0 auto;
        color: #707070;
        display: flex;
        align-items: center;
    }

    .info_img {
        width: 33px;
        padding-right: 12px;
    }

    .sp_main {
        display: block;
    }

    .main_title {
        writing-mode: horizontal-tb;
        font-size: 15px;
        position: absolute;
        top: 36.5%;
        left: 32px;
    }

    .fly_btn {
        position: absolute;
        top: 74%;
        left: 12px;
        width: 162px;
        height: 162px;
        border-radius: 50%;
        padding: 1px;
        z-index: 20;
    }

    .toyoda {
        font-size: 19px;
    }

    .sp_ni {
        display: block;
        font-size: 13px;
    }

    .lesson {
        font-size: 17px;
    }

    .no {
        font-size: 14px;
    }

    .start {
        font-size: 14px;
    }

    .fly_line::before {
        width: 50%;
        right: 37px;
    }

    .fly_line::after {
        right: 36px;
    }

    .topics {
        display: block;
        text-align: center;
        padding: 37px 0 30px;
    }

    .topic {
        width: 100%;
        position: relative;
    }

    .topics_title {
        width: 61px;
        margin: 0 auto;
        padding-bottom: 8px;
    }

    .topic_items {
        display: block;
        padding: 95px 0 100px;
    }

    .topics_aori {
        writing-mode: vertical-rl;
        font-size: 26px;
        padding: 70px 0 0 76%;
        letter-spacing: 0.7em;
    }

    .topic_text {
        font-size: 15px;
        width: 73%;
        position: absolute;
        top: 500px;
        left: 20px;
    }

    .topics_img {
        width: 37%;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .topic_img_bottom {
        top: 200px;
        left: 39%;
    }

    #service {
        padding-bottom: 240px;
        margin-top: 300px;
    }

    .title_wrapper {
        padding: 60px 0 106px;
    }

    .title {
        height: 119px;
        position: relative;
        text-align: center;
    }

    .title_text {
        font-size: 19px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .service_aori {
        writing-mode: horizontal-tb;
        font-size: 19px;
        left: 0px;
        top: 0px;
        text-align: center;
    }

    .service_aori::after {
        content: "simulation Golf";
        font-size: 24px;
        right: 0px;
        top: -16px;
    }

    .capture_slide {
        width: 82%;
        border-radius: 0 0 30px 0;
        margin: 0 auto;
    }

    .capture_texts {
        width: 62%;
        height: 188px;
        margin: 0 auto;
        border-radius: 0 0 30px 0;
        top: -48px;
        left: 0px;
    }

    .capture_text {
        font-size: 14px;
    }

    .capture_border {
        border-top: #c09f5c 1px solid;
        width: 17%;
        margin-left: 18px;
        margin-top: -120px;
    }

    .more_btn {
        background: #ffffff;
        width: 190px;
        height: 190px;
        border-radius: 50%;
    }

    .more {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 1.6;
    }

    .service_sen {
        padding: 120px 0 37px 47px;
        text-align: center;
    }

    .slick-next:before {
        display: none;
    }

    .slick-prev:before {
        display: none;
    }

    .slick-arrow {
        width: 24px;
        height: 24px;
        border-top: 1px solid #c09f5c;
        border-right: 1px solid #c09f5c;
        top: 45%;
    }

    .slick-next {
        transform: rotate(45deg);
        right: -1%;
        top: 24%;
    }

    .slick-prev {
        transform: rotate(-135deg);
        left: -1%;
        top: 25%;
        z-index: 100;
    }

    .service_items {
        margin: 15px;
    }

    .service_slide {
        margin: 30px;
    }

    .service_border {
        border-bottom: 1px #c09f5c solid;
        width: 195px;
        margin: 0 auto;
    }

    .service_title {
        font-size: 30px;
        padding: 50px 0 24px;
        text-align: center;
    }

    .service_text {
        line-height: 2.2;
        padding-top: 33px;
    }

    .reserve_btn {
        width: 311px;
        height: 52px;
    }

    .reserve_btn_text {
        font-size: 14px;
    }

    .passtime_items {
        padding-bottom: 90px;
    }

    .passtime_item:nth-child(even) {
        margin: 0 auto 47px;
    }

    .passtime_item {
        margin: 0 auto 47px;
    }

    .passtime_title {
        font-size: 21px;
        padding-bottom: 10px;
    }

    .passtime_point {
        font-size: 13px;
        line-height: 1.3;
    }

    .passtime_wrapper {
        width: 71%;
    }

    .passtime_text {
        padding-bottom: 13px;
        text-align: center;
        line-height: 1.2;
    }

    .passtime_movie {
        width: 80%;
    }

    .passmovie_text {
        font-size: 14px;
        padding: 31px 0 200px;
        text-align: center;
    }

    .shop_slide_wrapper {
        padding-bottom: 23px;
    }

    .shop_btn {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 13px;
        line-height: 80px;
    }

    .shop_btn_access {
        font-size: 13px;
    }

    .reserve_halfbtn {
        background-color: #c09f5c;
        width: 116px;
        height: 58px;
    }

    .half_btn {
        font-size: 12px;
    }

    .contact_text {
        font-size: 14px;
        line-height: 2;
    }

    .question_here {
        font-size: 17px;
    }

    .set {
        display: flex;
        flex-direction: column;
        padding-bottom: 35px;
        align-items: flex-start;
    }

    .contact_form {
        width: 63%;
        margin: 0 auto;
        padding: 71px 0 90px;
    }

    .must {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        padding: 8px 2px;
        margin-left: 0;
        font-size: 10px;
    }

    .input,
    .textarea,
    .select {
        width: 100%;
    }

    .label,
    .tel {
        position: relative;
        top: -21px;
        left: 40px;
        font-size: 14px;
    }

    .tel {
        margin-left: 0;
        padding-top: 14px;
        left: 0;
    }

    .contact_btn {
        width: 124px;
        height: 34px;
        border-radius: 0 0 17px 0;
        margin: 0 auto;
        display: block;
        font-size: 12px;
    }
}
